<!-- <p>dashboard works!</p> -->

<div class="contaimer-fluid bg-light">
    <div class="container  bg-light">
        <div class="row mt-5" style="height:500px;">
            <div class="col"></div>

            <div class="col-md-6  bg-white  shadow">

                <div class="card bg-primary mt-4">
                    <h3 class="text-white text-center">ToDList Task </h3>
                </div>

                <form [formGroup]="taskform">
                    <div class="shadow">
                        <div class="input-group p-4">
                            <input type="text" class="form-control" placeholder="Enter your task"
                                formControlName="task">
                            <button class="btn btn-outline-success" type="button" (click)="adddata()">Add</button>
                        </div>
                    </div>
                </form>

                <h4 class="text-primary">Task:</h4>
                <div style="overflow-y:auto; height:350px;">
                    <div class="m-3" *ngFor="let data of taskArr">
                        <div class="p-2 shadow border">
                            <div class="input-group row ps-3">
                                <div class="card col-md-8 border-0">{{data.id}} .{{data.task}}</div>

                                <button class="btn btn-outline-primary col" type="button" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal" (click)="gotoedit(data)">Edit</button>
                                <button class="btn btn-outline-danger col" (click)="deletedata(data.id)">X</button>


                            </div>
                        </div>

                    </div>
                </div>


                <!-- modal -->
                <div class="modal"tabindex="-1" id="exampleModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">edit Task</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body" *ngIf="rowSelected.id">
                                <input type="text" placeholder="edit your Task">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="editdata(rowSelected.id)">update</button>

                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col"></div>
        </div>
    </div>
</div>